.thumbnail img{
  width: 100%;
}

.thumbnail{
  padding: 0;
}

.thumbnail .caption{
  padding: 9px;
}

<<<<<<< HEAD
.delete-form{
  display: inline;
}

#map {
    height: 400px;
    width: 100%;
}
=======
#delete-form{
  display: inline;
}
>>>>>>> a9aa5bf2d42c49b8a824f93b2d3fafe7e85e0235
